form {
  width: 100%;
  max-width: 500px;
  position: relative;
  font-size: 15px;

  .label {
    color: black;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;

    .mat-form-field-wrapper {
      width: 100%;
    }

    .mat-input-login {
      top: -3px;
      position: relative;
    }
  }

  .mat-hint {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // background-color: rgb(216, 203, 203);

    .validator {
      color: var(--main-theme-color-error);
      right: 12px;
      position: relative;
    }
  }
}

.login-info {
  width: 100%;
  text-align: center;
  cursor: pointer;
  color: #202020;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.login-info:hover {
  color: black;
  text-decoration: underline;
}
