.nav-item-login {
  border-color: var(--c2);
  border: 2px solid;
  background-color: white;
  padding: 9px 26px;
  border-radius: 29px;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  color: black;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  min-width: 108px;

  i {
    margin-right: 5px;
    margin-right: 0px;
  }
}

.nav-item-login:hover {
  background-color: var(--c2-hover-light);
}

@media (max-width: 320px) {
  .nav-item-login {
    min-width: 0px;
    padding: 9px 15px;
  }
}
