<!-- <footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h4>Контакты</h4>
          <p><span class="material-icons"> place</span> Via Rossini 10, 10136 Turin Italy</p>
          <p><span class="material-icons"> stay_primary_portrait</span> Phone: (0039) 333 12 68 347</p>
          <p><span class="material-icons"> mail_outline </span>
            Email: <a href="mailto:hello@domain.com">hello@domain.com</a>
          </p>
        </div>

        <div class="col-md-6  wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
          <h4>Правовая информация</h4>
          <p>Пользовательское соглашение</p>
          <p>Информация для инвесторов</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12  wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <p class="donates">
            Мы молодая компания, которая ищет новые и креативные идеи, чтобы помогать тебе нашими информационными
            продуктами каждый день
          </p>
          <p>
            <button class="donates-btn">
              <span class="material-icons" style="top: 0px;">
                payment
              </span>
              Поддержать
            </button>
          </p>
        </div>
      </div>


    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row justify-content-center mt-2">
        <div class="col-md-12 footer-copyright" style="text-align: center;"> © Защищено авторскими правами</div>
        <div class="col-md-12 social justify-content-center">
          <img src="./assets/images/icons/face.svg">
          <img src="./assets/images/icons/insta.png">
          <img src="./assets/images/icons/vk.png">
        </div>
      </div>
    </div>
  </div>
</footer> -->


<footer *ngIf="loaded">

  <div class="footer-col">
    <p class="footer-title footer-title-main">
      ООО "Компания"
    </p>
    <app-smm></app-smm>
    <p class="footer-link">Услуги</p>
    <p class="footer-link">Блог</p>
    <p class="footer-link">О проекте</p>
  </div>

  <div class="footer-col">
    <p class="footer-title">
      Правовая информация
    </p>
    <p class="footer-link">Рекламодателям</p>
    <p class="footer-link">Политика конфиденциальности</p>
    <p class="footer-link">Еще какая-то ссылка</p>
  </div>

  <div class="footer-col">
    <p class="footer-title">
      Обратная связь
    </p>
    <p class="footer-link footer-link-href">
      <a href="mailto:rogaikopita@pochta.com">email: rogaikopita@pochta.com</a>
    </p>
    <p class="footer-link footer-link-href"><a href="tel:+79955094999">phone: 8 (800) 100 10 50</a></p>
  </div>

  <!-- <div class="footer-row">
    <div class="footer-text">
      <b>© 2021</b>&nbsp;Все права защищены
    </div>
  </div> -->





</footer>