.digit-wrapper {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-bottom: 20px;
}

.digit {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  left: -20px;
  width: 100%;
  // background-color: rgb(182, 124, 124);

  .material-icons {
    font-size: clamp(29px, 5vw, 39px);
  }
}

.digit-number {
  font-size: 42pt;
  color: black;

  // background: rgba(66, 66, 66, 0.2) 20%;
  // background-color: blanchedalmond;
}

@media (max-width: 1120px) {
  .digit-wrapper {
    display: grid;
  }
}
