<div class="overlay">

  <div class="menu">

    <div class="menu-content">
      <div class="menu-container">
        <p class="category">
          Банкротство
        </p>
        <ul>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
        </ul>
      </div>

      <div class="menu-container">
        <p class="category">
          Банкротство
        </p>
        <ul>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
        </ul>
      </div>

      <div class="menu-container">
        <p class="category">
          Банкротство
        </p>
        <ul>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
        </ul>
      </div>

      <div class="menu-container">
        <p class="category">
          Банкротство
        </p>
        <ul>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
          <li> <a href="#">Здесь ссылка</a></li>
        </ul>
      </div>
    </div>



  </div>
</div>

<div class="menu-layer"></div>