// grid header
.container {
  padding-left: 20px !important;
  padding-right: 20px;
  padding-top: 140px;
}

@media (max-width: 770px) {
  .container {
    margin-left: 0rem;
    padding-left: 0px; // !!!
  }
}

@media (max-width: 647px) {
  .container {
    margin-left: 0rem;
    padding-left: 0px; // !!!
  }
}

@media (max-width: 560px) {
}

@media (max-width: 540px) {
}

@media (max-width: 470px) {
}

@media (max-width: 440px) {
}

@media (max-width: 420px) {
}
