.title {
  font-size: clamp(26px, 4vw, 30px);
  font-weight: 700;
  text-align: center;
}

p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 560px) {
  // .title {
  //   font-size: 28px;
  //   font-weight: 700;
  // }
}
