<div #testDiv>
  <div *ngIf="isTestDivScrolledIntoView" class="digits-wrapper">
    <animated-digit [digit]="300" text="выигранных дел в суде" [duration]="750"></animated-digit>
    <animated-digit [digit]="2500" text="оказанных консультаций" [duration]="650"></animated-digit>
    <animated-digit [digit]="30" text="миллионов рублей списанных долгов" [duration]="450"></animated-digit>
    <animated-digit [digit]="20" text="компаний-постоянных клиентов" [duration]="550"></animated-digit>
  </div>
</div>