<div class="about-wrapper">
  <div class="container">

    <div class="about-block">
      <div class="block-title">
        Адрес:
      </div>
      <p>
        350020, Краснодарский край, г. Краснодар, ул. Шоссе Нефтяников, д.1
      </p>
    </div>

    <div class="about-block">
      <div class="block-title">
        E-mail:
      </div>
      <p>
        liberty.krd@gmail.com
      </p>
    </div>

    <div class="about-block">
      <div class="block-title">
        Режим работы офиса:
      </div>
      <p>
        ПН - ПТ: 8.30 - 19.00
        СБ: 10.00 - 17.00
        ВС: выходной

        <br>
        <b>
          8 800 350 20 75
        </b>
        <br>
        <b>
          8 861 250 62 02
        </b>
      </p>
    </div>


    <div class="about-block">
      <div class="block-title">
        Как добраться:
      </div>
      <p>
        Центральные фонтаны возле кинотеатра "Аврора", Налоговое управление, пересечение ул. Дзержинского/ул.
        Шоссе Нефтяников, Памятник Дзержинскому Ф.Э.
        Остановки: "Морская"" (ул. Дзержинского), "Гаврилова" (ул. Красная), "Кинотеатр Аврора" (ул. Шоссе нефтяников)
        Троллейбусы: 15
        Автобусы: 1, 2, 2е (по будням), 2е (по выходным), 3, 4,7, 9, 10, 11, 52, 96, 120, 121, 182а, 186б, 777
        Маршрутные такси: 5, 21, 29, 31, 40, 42, 85, 93, 121а, 196, 201
      </p>

    </div>
  </div>
</div>