<div class="container">
  <div class="banner">
    <div class="banner-img-wrapper">
      <div class="banner-img">
        <img src="assets/headerpictures/open-doodles-reading-side.png" alt="">
      </div>
    </div>

    <div class="banner-text-wrapper">
      <div class="banner-text">
        <h1>Профессиональная юридическая помощь</h1>
        <p class="banner-subtext">
          в защите ваших интересов и решение
          самых
          сложных вопросов - мы с удовольствием сделаем всю юридическую работу за вас
        </p>
        <a href="#feedback" style="text-decoration: none;">
          <app-mat-button btnText="Заказать консультацию"></app-mat-button>
        </a>
      </div>
    </div>

  </div>
</div>