button {
  font-family: "IBM Plex Sans", sans-serif !important;
  cursor: pointer;
  line-height: 2.7rem;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  padding-right: 20px !important;
  padding-left: 20px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;

  max-width: 300px;
  vertical-align: middle;
  align-items: center;
  justify-content: space-around !important;

  display: flex;
  min-width: 135px;
  border-radius: 30px !important;
  // background-color: var(--c2);
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
  color: whitesmoke !important;

  .material-icons {
    position: relative;
    font-size: 22px;
    top: 0px !important;
  }
}

button.btn-hover-effect {
  transition: color 9.8s linear;
  position: relative;
  background: rgb(155, 25, 25);
}

button.btn-hover-effect:hover {
  color: #fff;
}

button.btn-hover-effect::before {
  content: "";
  position: absolute;
  background: wheat;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  // background: var(--c2-hover);
  transition: transform 0.9s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(1);
  z-index: 0;
}

button.btn-hover-effect:hover::before {
  transform: scaleX(-1);
  z-index: 1;
}

.example-ripple-container {
  cursor: pointer;
  text-align: center;

  width: 300px;
  height: 300px;
  line-height: 300px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

/** Styles to make the demo look better. */
.example-ripple-checkbox {
  margin: 6px 12px 6px 0;
}

.example-ripple-form-field {
  margin: 0 12px 0 0;
}
